#!/bin/sh
# Deploys the master branch to the hutmap.com dreamhost account. See
# 'Deploying' in README.md for usage.

. {{ profile }}
workon_hutmap
./manage.py collectstatic --noinput -i '*.less' -i 'js-test'

{% for host in groups['dreamhost'] %}

  {% set vars = hostvars[host] %}

  HUTMAP_DEBUG={{ vars.hutmap.debug }} HUTMAP_VERSION={{ vars.hutmap.version }} \
    ./manage.py compress -f

  rsync -ave ssh --exclude 'data' {{ public_dir }}/static \
    {{ vars.user }}@{{ host }}:{{ vars.repo_dir }}/public/

{% endfor %}

