#!/bin/bash -e
# Performs a full or partial deploy to dreamhost

. {{ profile }}
workon_hutmap
cd {{ repo_dir }}/ops/provisioning

if [[ "$1" == "full" ]]
then
  ansible-playbook -i inventory dreamhost.yml 
else
  ansible-playbook -i inventory dreamhost.yml --tags partial
fi

