# Django development server service

description     "Django development server"

start on started mysql
stop on stopping mysql

respawn
respawn limit 2 5

script
  . {{ profile }}
  {{ virtualenv }}/bin/python {{ app_dir }}/manage.py runserver 0.0.0.0:{{ devserver_port }}
end script

