{% extends "admin/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css"  charset="utf-8" href="{% static "lib/select2/select2.css" %}">
{% endblock %}

{% block footer %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8" src="{% static "lib/select2/select2.js" %}"></script>
<script>
  $(function() {
    $('select[ui-select2]').select2({
      width: 'resolve',
    });
  });
</script>
{% endblock %}

{% block title %}{{ title }} | {% trans 'Hutmap Admin' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Hutmap Admin' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block bodyclass %}{% endblock %}
