{% verbatim %}
<div class="hut-filter-table">
  <div class="hut-filter-title">Season</div>
  <ul class="hut-filter-list hut-filter-icons">
    <li>
      <span class="hut-filter-item" tooltip="Open in summer" tooltip-placement="right">
        <i class="icon-sun" ng-class="{'selected': f.season.summer}"  ng-click="f.season.summer = !f.season.summer; filter();"></i>
      </span>
      <span class="hut-filter-item" tooltip="Open in winter" tooltip-placement="right">
        <i class="icon-snowflake" ng-class="{'selected': f.season.winter}"  ng-click="f.season.winter = !f.season.winter; filter();"></i>
      </span>
      <span class="hut-filter-item" tooltip="Unknown" tooltip-placement="right">
        <i class="icon-question" ng-class="{'selected': f.season.unknown}" ng-click="f.season.unknown = !f.season.unknown; filter();"></i>
      </span>
    </li>
  </ul>
  {% endverbatim %}{% include "partials/components/filter_with_any.html" with filter="shelterType" %}{% verbatim %}
  {% endverbatim %}{% include "partials/components/filter_with_any.html" with filter="backcountryAccess" %}{% verbatim %}
  <div class="hut-filter-title">Services</div>
  <ul class="hut-filter-list">
    <li tooltip="{{f.noServices.$tooltip}}"
        tooltip-placement="right"
        ng-class="{'selected': f.noServices.include}"
        ng-click="f.noServices.include = !f.noServices.include; filter();">
        <span class="hut-filter-item">none</span>
    </li>
    <li ng-repeat="i in sorted(f.services)" 
        tooltip="Includes {{f.services[i].$keywords.join(', ')}}"
        tooltip-placement="right"
        ng-class="{'selected': f.services[i].include}"
        ng-click="f.services[i].include = !f.services[i].include; filter();">
        <span class="hut-filter-item">{{f.services[i].name}}</span>
    </li>
  </ul>
  {% endverbatim %}{% include "partials/components/filter_with_any.html" with filter="reservations" %}{% verbatim %}
  <div class="hut-filter-title">Capacity</div>
  <input type="number" ng-model="f.capacity.min" ng-change="filter()"></input>
  &mdash;
  <input type="number" ng-model="f.capacity.max" ng-change="filter()"></input>
  <div class="hut-filter-title">Altitude</div>
  <input type="number" ng-model="f.altitude.min" ng-change="filter()"></input>
  &mdash;
  <input type="number" ng-model="f.altitude.max" ng-change="filter()"></input>
  <ul class="hut-filter-list">
    <li ng-class="{'selected': f.altitude.meters}"
        ng-click="f.altitude.meters = true; filter()">
        <span class="hut-filter-item">m</span>
    </li>
    <li ng-class="{'selected': !f.altitude.meters}"
        ng-click="f.altitude.meters = false; filter()">
        <span class="hut-filter-item">ft</span>
    </li>
  </ul>

</div>
{% endverbatim %}
