{% verbatim %}
<div class="hut-filter-table">
  <div class="hut-filter-title">Season:</div>
  <ul class="hut-filter-list hut-filter-icons">
    <li>
      <span class="hut-filter-item" tooltip="Select huts that are open in summer" tooltip-placement="right">
        <i class="icon-sun"       ng-class="{'selected': season.summer}"  ng-click="season.summer = !season.summer; filter();"></i>
      </span>
      <span class="hut-filter-item" tooltip="Select huts that are open in winter" tooltip-placement="right">
        <i class="icon-snowflake" ng-class="{'selected': season.winter}"  ng-click="season.winter = !season.winter; filter();"></i>
      </span>
      <span class="hut-filter-item" tooltip="Select huts that have no known season information" tooltip-placement="right">
        <i class="icon-question"  ng-class="{'selected': season.unknown}" ng-click="season.unknown = !season.unknown; filter();"></i>
      </span>
    </li>
  </ul>
  <div class="hut-filter-title">Shelter Type:</div>
  <ul class="hut-filter-list">
    <li tooltip="Includes all shelter types"
        tooltip-placement="right"
        ng-class="{'selected': anyShelterType}"
        ng-click="setAnyShelterType(!anyShelterType); filter();">
        <span class="hut-filter-item">any</span>
    </li>
    <li ng-repeat="(type, data) in shelterType" 
        tooltip="Includes {{data.keywords.join(', ')}}"
        tooltip-placement="right"
        ng-class="{'selected': data.include}"
        ng-click="data.include = !data.include; setAnyShelterType(false); filter();">
        <span class="hut-filter-item">{{type}}</span>
    </li>
  </ul>
</div>
{% endverbatim %}
