{% verbatim %}
<div class="hut-info" ng-controller="HutInfoCtrl">
  <div class="row-fluid">
    <div class="span4">
      <h4 class="hut-info-title muted" ng-show="selectedHut == null">Select a hut.</h4>
      <h4 class="hut-info-title">{{selectedHut.name}}</h4>
      <div class="hut-detail-img" ng-hide="selectedHut == null">
        {% endverbatim %}
          {% include "partials/components/hut_img.html" with hut_object_name="selectedHut" width="180" height="130" %}
        {% verbatim %}
      </div>
    </div>
    <div class="span8">
      <table ng-hide="selectedHut == null">
        <tr>
          <td class="hut-detail-title">Region:</td>
          <td class="hut-detail"><span tooltip="{{selectedHutRegion.region}}" tooltip-placement="left">{{selectedHutRegion.region}}</span></td>
        </tr>
        <tr>
          <td class="hut-detail-title">Location:</td>
          <td class="hut-detail">{{selectedHut.location.coordinates[1]|number:2}}, {{selectedHut.location.coordinates[0]|number:2}}</td>
        </tr>
        <tr>
          <td class="hut-detail-title">Accuracy:</td>
          <td class="hut-detail"><span class="rating-5star up1" ng-class="'rating-' + (selectedHut.accuracy * 10)" tooltip="{{accuracy_tooltip[selectedHut.accuracy]}}" tooltip-placement="left"></span></td>
        </tr>
        <tr>
          <td class="hut-detail-title">Agency:</td>
          <td class="hut-detail">
            <a ng-href="{{selectedHutAgency.url}}" tooltip="{{selectedHutAgency.name}}" tooltip-placement="left">{{selectedHutAgency.name}}</a>
          </td>
        </tr>
        <tr>
          <td class="hut-detail-title">Hut Url:</td>
          <td class="hut-detail">
            <a ng-href="{{selectedHut.hut_url}}">{{selectedHut.hut_url}}</a>
          </td>
        </tr>
        <tr>
          <td class="hut-detail-title">Types:</td>
          <td class="hut-detail" tooltip="{{selectedHut.types}}" tooltip-placement="left">{{selectedHut.types}}</td>
        </tr>
        <tr>
          <td class="hut-detail-title">Seasons:</td>
          <td class="hut-detail">
            <i class="icon-sun" tooltip="Summer" tooltip-placement="left" ng-show="selectedHut.open_summer"></i>
            <i class="icon-snowflake" tooltip="Winter" tooltip-placement="left" ng-show="selectedHut.open_winter"></i>
            <span ng-show="selectedHut.open_summer == null && selectedHut.open_winter == null">Unknown</span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
{% endverbatim %}
