{% verbatim %}
<div class="hut-list clearfix">
  <table>
    <tr class="hut-list-item" 
        ng-repeat="hut in huts" 
        ng-mouseenter="mouseoverHut(hut)"
        ng-mouseleave="mouseoutHut(hut)"
        ng-click="clickHut(hut)"
        ng-class="{
          'selected': hut.id == selectedHut.id
        }">
      <td>{{hut.name}}</span>
      <td><i class="icon-bullseye" ng-repeat="count in range(0, hut.location_accuracy)"></i></td>
      <td><i class="icon-user"> {{hut.capacity_max}}<span ng-show="!hut.capacity_max">?</span></i></td>
    </tr>
  </table>
</div>
{% endverbatim %}
