{% verbatim %}
<div id="sharebar">
  <div class="sharebar-icons">

    <i class="icon-link"
       popover="{{link.value}}"
       popover-placement="top"
       popover-trigger="click"
       ng-click="generateLink()"></i>

    <i class="icon-facebook"
       popover="Nothing here yet"
       popover-placement="top"
       popover-trigger="click"></i>
       
    <i class="icon-google-plus"
       popover="Nothing here yet"
       popover-placement="top"
       popover-trigger="click"></i>

    <i class="icon-twitter"
       popover="Nothing here yet"
       popover-placement="top"
       popover-trigger="click"></i>

  </div>
</div>
{% endverbatim %}
