{% verbatim %}
<div ng-controller="HutInfoCtrl">
<h4 class="hut-info-title muted" ng-show="selectedHut == null">Select a hut.</h4>
<h4 class="hut-info-title">{{selectedHut.name}}</h4>
<span class="hut-info-detail-table" ng-hide="selectedHut == null">
  <div class="hut-info-img">
    <img class="img-rounded" 
         ng-show="selectedHut.photo_url" 
         src="{{selectedHut.photo_url}}" 
         alt="Broken photo link!"></img>
    <img class="img-rounded" 
         ng-show="!selectedHut.photo_url && selectedHut.accuracy < 3" 
         src="{% endverbatim %}{{ STATIC_URL }}{% verbatim %}img/no-image-available.gif" 
         alt="No image available"></img>
    <img class="img-rounded" 
         ng-show="!selectedHut.photo_url && selectedHut.accuracy >= 3" 
         src="http://maps.googleapis.com/maps/api/staticmap?center={{selectedHut.location.lat}}%2C{{selectedHut.location.lng}}&zoom=19&size=180x130&maptype=satellite&sensor=false&key={% endverbatim %}{{ GOOGLE_API_KEY }}{% verbatim %}"
         alt="No image available"></img>
  </div>
  <table>
    <tr>
      <td class="hut-info-detail-title">Region:</td>
      <td class="hut-info-detail">{{selectedHut.region.region}}</td>
    </tr>
    <tr>
      <td class="hut-info-detail-title">Location:</td>
      <td class="hut-info-detail">{{selectedHut.location.lat|number:2}}, {{selectedHut.location.lng|number:2}}</td>
    </tr>
    <tr>
      <td class="hut-info-detail-title">Accuracy:</td>
      <td class="hut-info-detail"><span class="rating-5star up1" ng-class="'rating-' + (selectedHut.accuracy * 10)" bs-tooltip="accuracy_tooltip[selectedHut.accuracy]"></span></td>
    </tr>
    <tr>
      <td class="hut-info-detail-title">Agency:</td>
      <td class="hut-info-detail">
        <a ng-href="{{selectedHut.agency.url}}">{{selectedHut.agency.name|truncate:20}}</a>
      </td>
    </tr>
    <tr>
      <td class="hut-info-detail-title">Hut Url:</td>
      <td class="hut-info-detail">
        <a ng-href="{{selectedHut.hut_url}}">{{selectedHut.hut_url|truncate:20}}</a>
      </td>
    </tr>
  </table>
</span>
</div>
{% endverbatim %}
