{% extends "base.html" %}

{% block content %}
{% verbatim %}
<div ng-cloak>
  <div ng-controller="HutCtrl">
  <div ng-controller="MapCtrl">
    <div class="row">
      <div class="hut-sidebar">
        {% endverbatim %}{% include "huts/hut_info.html" %}{% verbatim %}
        <!--
        <p>num huts: {{huts.length}}</p>
        <p>{{center}}</p>
        <p>{{zoom}}</p>
        <p>{{bounds}}</p>
        -->
      </div>
      <gm-map class="map" gm-map-id="map_canvas" gm-center="center" gm-zoom="zoom" gm-bounds="bounds" gm-map-options="mapOptions">
        <gm-markers gm-objects="huts" 
                    gm-get-lat-lng="{lat:object.location.lat, lng:object.location.lng}" 
                    gm-marker-options="markerOptions.huts"
                    gm-on-click="selectHut(marker, object)">
        </gm-markers>
      </gm-map>
    </div>
  </div>
  </div>

</div>
{% endverbatim %}
{% endblock %}
