{% extends "base.html" %}
{% load verbatim %}

{% block content %}
{% verbatim %}
<div ng-cloak>
  <div ng-controller="HutCtrl">
  <div ng-controller="MapCtrl">
    <div class="row">
      <div class="hut-sidebar">
        {% endverbatim %}{% include "huts/hut_info.html" %}{% verbatim %}
        <!--
        <p>num huts: {{huts.length}}</p>
        <p>{{center}}</p>
        <p>{{zoom}}</p>
        <p>{{bounds}}</p>
        -->
      </div>
      <google-map class="map" map-id="map_canvas" center="center" zoom="zoom" bounds="bounds" map-options="mapOptions">
        <!-- Alert: When the google-map-markers element gets transcluded, the
                    ng-transclude directive creates a new scope. The
                    google-map-markers element's scope becomes a child of this
                    scope. So the correct sibling scope of google-map is the
                    $parent of the google-map-markers scope. -->
        <google-map-markers objects="huts" 
                            get-lat-lng="{lat:object.location.lat, lng:object.location.lng}" 
                            marker-options="markerOptions.huts"
                            on-click="selectHut(marker, object)">
        </google-map-markers>
      </google-map>
    </div>
  </div>
  </div>

</div>
{% endverbatim %}
{% endblock %}
