{% load staticfiles %}

<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title ng-bind="'Hutmap'">
{% block title %}
Find backcountry huts - Hutmap
{% endblock %}
</title>

{% block description %}
<meta name="description" content="Hutmap is your guide to North America's backcountry huts. Cabins, yurts, lean-tos, lookouts, and lodges! If it provides covered shelter in the backcountry, it belongs on Hutmap." />
{% endblock %}

<meta property="og:site_name" content="Hutmap" />
<meta property="og:type" content="website" />

{% block og_url %}
<meta property="og:url" content="{{ absolute_uri }}" />
{% endblock %}

{% block og_image %}
<meta property="og:image" content="{% static "hutmap/img/og/logo-square-dark.png" %}" />
<meta property="og:image" content="{% static "hutmap/img/og/logo-icon-dark.png" %}" />
<meta property="og:image" content="{% static "hutmap/img/og/110318_0354.jpg" %}" />
{% endblock %}
