{% extends 'metadata/base.html' %}

{% load staticfiles %}

{% block title %}
Map - Hutmap
{% endblock %}

<meta property="og:description" content="Check it out!" />
<meta property="og:title" content="My backcountry hut search - Hutmap" />

{% block og_image %}
  {% if hut and hut.photo %}
    <meta property="og:image" content="{{ hut.photo.url }}" />
  {% else %}
    <meta property="og:image" content="{% static "hutmap/img/og/logo-square-dark.png" %}" />
    <meta property="og:image" content="{% static "hutmap/img/og/logo-icon-dark.png" %}" />
  {% endif %}
{% endblock %}
