{% extends 'metadata/base.html' %}

{% load staticfiles %}

{% block title %}
<title>Map | Hutmap</title>
{% endblock %}

{% block description %}
  {% if hut %}
    {% with hut.region.region|add:', '|add:hut.state|add:', '|add:hut.country as description %}
      {% include 'metadata/snippet_description.html' with description=description %}
    {% endwith %}
  {% else %}
    {% include 'metadata/snippet_description.html' with description='Check it out!' %}
  {% endif %}
{% endblock %}

{% block og_title %}
  {% if hut and hut.name %}
    <meta property="og:title" content="{{ hut.name }}" />
  {% else %}
    <meta property="og:title" content="My backcountry hut search | Hutmap" />
  {% endif %}
{% endblock %}

{% block og_image %}
  {% if hut and hut.photo %}
    <meta property="og:image" content="{{ hut.photo.url }}" />
  {% else %}
    <meta property="og:image" content="{% static "hutmap/img/og/logo-square-dark.png" %}" />
    <meta property="og:image" content="{% static "hutmap/img/og/logo-icon-dark.png" %}" />
  {% endif %}
{% endblock %}
