<form name="{{ form.form_name }}" {% block form_ctrl %}{% endblock %}>
    <p class="form-header">* = Required Field</p>

    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}
    {% for field in form.visible_fields %}

    {% block before_field %}
    {% endblock %}

    <div class="form-field ">
        {{ field.errors|safe }}
        {% if field.field.required %}
          <span class="required">{{ field.label_tag }}</span>
        {% else %}
          {{ field.label_tag }}
        {% endif %}
        {{ field }}

        {% if field.help_text %}
          <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}

    </div>

    {% endfor %}

    {% block form_footer %}
    {% endblock %}
</div>
