{% extends "forms/form_snippet.html" %}
{% load huts_extras %}

{% block form_ctrl %}ng-controller="HutFormInstanceCtrl"{% endblock %}

{% comment %}
{% block before_form %}
<span ng-init='hut = {{ form.get_initial_data|js|safe }}'></span>
{% endblock %}
{% endcomment %}

{% block before_field %}
{% if field.name == 'location' %}
<gm-map class="hut-form-map" gm-map-id="'hut-form-map'" 
                             gm-map-options="mapOptions" 
                             gm-center="mapCenter">
    <gm-markers gm-objects="huts" 
                gm-id="object && object.id || null"
                gm-position="positionFromHut(object)"
                gm-marker-options="markerOptions"
                gm-on-dragend="positionFromMarker(marker, object)">
    </gm-markers>
</gm-map>
{% endif %}
{% endblock %}

{% block form_footer %}
<div>
  <input class="button" ng-class="{'submitting': submitting}" ng-click="submit()" value="Submit"/>
</div>
{% endblock %}
