[submodule "deps/Font-Awesome"]
	path = deps/Font-Awesome
	url = git://github.com/FortAwesome/Font-Awesome.git
[submodule "deps/bootstrap"]
	path = deps/bootstrap
	url = git@github.com:dylanfprice/bootstrap.git
