<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Hutmap</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <link href="{{ STATIC_URL }}css/hutmap-{{ HUTMAP_VERSION }}.min.css" rel="stylesheet">
  
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="shortcut icon" href="{{ STATIC_URL }}img/logo-icon-dark.ico">
  <!-- TODO: Fav and touch icons  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png">
  -->
</head>

<body>

  <div ng-app="hutmap" ng-controller="HutmapCtrl" ng-init="STATIC_URL = '{{ STATIC_URL }}'; GOOGLE_API_KEY = '{{ GOOGLE_API_KEY }}';">

    <div id="navbar" class="navbar navbar-inverse navbar-static-top">
      <div class="navbar-inner">
        <a class="brand" href="/"><i class="img-logo up1"></i>Hutmap</a>
        <form id="navbar-search" class="navbar-search" ng-controller="SearchCtrl">
          <div class="img-triangle"></div>
          <input type="text" 
                 class="search-query" 
                 placeholder="Find backcountry huts" 
                 autocomplete="off"
                 ng-model="selected" 
                 typeahead="place as place.description for place in getPlaces($viewValue)"
                 blur="clickBody()"/>
          <span class="search-icon">
            <span ng-class="{% templatetag openbrace %} 
              'icon-search': !submitting && !autocompleting,
              'img-spinner': submitting || autocompleting
           {% templatetag closebrace %}"></span>
          </span>
        </form>
        <ul class="nav">
          <!--
          <li ng-class="{% templatetag openbrace %} active: $route.current.activetab == 'home'{% templatetag closebrace %}">
            <a href="/">
              Home
            </a>
          </li>
          -->
          <li ng-class="{% templatetag openbrace %} active: $route.current.activetab == 'map'{% templatetag closebrace %}">
            <a ng-href="/map/">
              Map
            </a>
          </li>
          <li ng-class="{% templatetag openbrace %} active: $route.current.activetab == 'about'{% templatetag closebrace %}">
            <a href="/about/">
              About
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div ng-cloak>
      <div id="content">
        <ng-view></ng-view>
      </div>
    </div>

    <script type="text/ng-template" id="template/carousel/carousel.html">
      {% include "partials/components/carousel.html" %}
    </script>
    <script type="text/ng-template" id="template/carousel/slide.html">
      {% include "partials/components/slide.html" %}
    </script>
    <script type="text/ng-template" id="template/typeahead/typeahead.html">
      {% include "partials/components/typeahead.html" %}
    </script>
    <script type="text/ng-template" id="template/alert/alert.html">
      {% include "partials/components/alert.html" %}
    </script>
    <script type="text/ng-template" id="template/tooltip/tooltip-popup.html">
      {% include "partials/components/tooltip-popup.html" %}
    </script>

  </div>

  <script src="//maps.googleapis.com/maps/api/js?v=3.12&sensor=false&libraries=places&key={{ GOOGLE_API_KEY }}"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular-resource.min.js"></script>
  {% if not DEBUG %}
  <script src="{{ STATIC_URL }}js/hutmap-{{ HUTMAP_VERSION }}.min.js"></script>
  {% else %}
  <script src="/dev/js/third-party/ui-bootstrap-0.3.0-SNAPSHOT.js"></script>
  <script src="/dev/js/third-party/keydragzoom.js"></script>
  <script src="/dev/js/third-party/angular-gm-0.0.2.min.js"></script>
  <script src="/dev/js/hutmap/app.js"></script>
  <script src="/dev/js/hutmap/services.js"></script>
  <script src="/dev/js/hutmap/filters.js"></script>
  <script src="/dev/js/hutmap/directives.js"></script>
  <script src="/dev/js/hutmap/controllers/controllers.js"></script>
  <script src="/dev/js/hutmap/controllers/HutCtrl.js"></script>
  <script src="/dev/js/hutmap/controllers/MapCtrl.js"></script>
  <script src="/dev/js/hutmap/controllers/MapConfigCtrl.js"></script>
  <script src="/dev/js/hutmap/controllers/SearchCtrl.js"></script>
  <script src="/dev/js/hutmap/controllers/FilterCtrl.js"></script>
  {% endif %}

</body>
</html>
