<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>{% block title %}Hutmap{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <link href="/static/css/bootstrap.css" rel="stylesheet">
  <link href="/static/css/default.css" rel="stylesheet">
  {% block styles %}{% endblock styles %}
  
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- TODO: Fav and touch icons  
  <link rel="shortcut icon" href="http://twitter.github.com/bootstrap/assets/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png">
  -->
</head>

<body>

  <div id="navbar" class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-inner">
      <a class="brand" href="{% url hutmap_home %}"><img class="up2" src="/static/img/logo.png"/>Hutmap</a>
      <ul class="nav">
        {% block navbar %}
          <li><a href="{% url hutmap_home %}">Home</a></li>
          <li><a href="{% url hutmap_map %}">Map</a></li>
          <li><a href="/browse">Browse</a></li>
          <li><a href="/about">About</a></li>
        {% endblock navbar %}
      </ul>
      <form id="navbar-search" class="navbar-search pull-right">
        <input type="text" class="search-query" placeholder="Search huts by name or location...">
        <span class="icon-search">
          <input type="submit" class="transparent" />
        </span>
      </form>

    </div>
  </div>


  {% block content %}
  {% endblock content %}

  {% if DEBUG %}
  <script src="/dev/closure-library/closure/goog/base.js"></script>
  <script src="/dev/deps.js"></script>
  {% else %}
  <script src="/static/js/hutmap-compiled.js"></script>
  {% endif %}

  <!-- Highlight active tab in navbar -->
  <script>
    goog.require('goog.dom');
    goog.require('goog.Uri');
    goog.require('goog.array');
  </script>
  <script>
    var navbar = goog.dom.getElement('navbar');
    var lis = goog.dom.getElementsByTagNameAndClass('li', undefined, navbar);
    goog.array.forEach(lis, function(li, index, array) {
      var a = goog.dom.getFirstElementChild(li);
      if (window.location.pathname === goog.Uri.parse(a.href).getPath()) {
        li.className += 'active';
      }
    });
  </script>
  {% block scripts %}
  {% endblock scripts %}

</body>
</html>
