<form id='hut_search_form' class='search' name='hut_search_form' onsubmit='return false;'>
  <span class='label'>within &nbsp;</span>
  <select name="distance">
    <option value="5">5mi</option>
    <option value="10">10mi</option>
    <option value="25">25mi</option>
    <option value="50">50mi</option>
    <option value="100">100mi</option>
    <option value="500">500mi</option>
  </select>
  <span class='label'>&nbsp; of &nbsp;</span>
  <input id="hut_search_box" name="location" type="text"/>

  <table>
    <tbody><tr class="label">
      <td colspan="1"><label for="min_price">Price (per person per night):</label></td>
      <td><label for="capacity">Capacity:</label></td>
      <td><label for="access">Access:</label></td>
    </tr>
    <tr>
      <td>
        <select title="Filter results by setting a maximum price per person per night" name="fee_person_min__lte" id="fee_person_min__lte">
          <option value="5">&lt; $5</option>
          <option value="10">&lt; $10</option>
          <option value="15">&lt; $15</option>
          <option value="20">&lt; $20</option>
          <option value="25">&lt; $25</option>
          <option value="30">&lt; $30</option>
          <option value="35">&lt; $35</option>
          <option value="40">&lt; $40</option>
          <option value="45">&lt; $45</option>
          <option value="50">&lt; $50</option>
          <option value="" selected="selected">No max</option>
        </select>
      </td>
      <td>
        <select title="Filter results by setting a minimum capacity" id="capacity_max__gte" name="capacity_max__gte">
          <option value="" selected="selected">No min</option>
          <option value="2">2+</option>
          <option value="3">3+</option>
          <option value="4">4+</option>
          <option value="5">5+</option>
          <option value="6">6+</option>
        </select>
      </td>
      <td>
        <select title="Filter results by selecting the type of access." id="access__exact" name="access__exact">
          <option value="" selected="selected">Any type of access</option>
          <option value="0">Frontcountry year-round</option>
          <option value="1">Winter backcountry</option>
          <option value="2">Backcountry year-round</option>
        </select>
      </td>
    </tr>
  </tbody></table>
</form> 



