html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map_canvas {
  height: 75%;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12.5%;
  margin-bottom: 12.5%;
}

@media print {
  html, body {
    height: auto;
  }

  #map_canvas {
    height: 650px;
  }
}
