.search {
  margin-left: inherit;
  margin-right: inherit;
  width: 560px;
  height: 120px;
}

.search input {
  background: url('/static/img/validationInputBg.png') repeat-x;
  background-size: auto 50%;

  border-style: solid; 
  border-color: #D3D3D3;
  border-width: 0.5px;

  padding: 5px 20px;

  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
  margin-right: 5px;

  height: 1.5em;
  width: 22em;
}

.search input:focus {
  outline: solid #c3effd thin;
}

.search table {
  margin-top: 15px;
  width: 100%;
}

span.label, .label label {
    color: #666666;
    font-size: 0.8em;
    font-weight: bold;
    padding: 0 0 5px;
}

.label label, {
    display: block;
}

