.goog-css3-button {
  margin: 10px 10px;
  padding: 15px 10px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  color: #000;
  border: 1px solid #bbb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  /* TODO(eae): Change this to -webkit-linear-gradient once
                https://bugs.webkit.org/show_bug.cgi?id=28152 is resolved. */
  background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#f9f9f9),
      to(#e3e3e3));
  /* @alternate */ background: -moz-linear-gradient(top, #f9f9f9, #e3e3e3);
}


/* Styles for different states (hover, active, focused, open, checked). */
.goog-css3-button-hover {
  border-color: #939393 !important;
}

.goog-css3-button-focused {
  border-color: #444;
}

.goog-css3-button-active, .goog-css3-button-open {
  border-color: #444 !important;
  background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#e3e3e3),
      to(#f9f9f9));
  /* @alternate */ background: -moz-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.goog-css3-button-disabled {
  color: #888;
}

.goog-css3-button-primary {
  font-weight: bold;
}

