/************************* 
 * Map
 *************************/

#map_canvas {
  position: absolute;
  top: 26px;
  left: 0px;
  bottom: 0px;
  right: 214px;
  line-height: 15px;
}

/************************* 
 * Filter
 *************************/

#map_filter {
  position: absolute;
  top: 25px;
  left: 0px;
  margin: 10px;
  padding: 5px;
  width: 200px;
  height: 185px;
  /*background-color: white;*/
  background-image: url('/static/img/gray-jean.png');
  line-height: 15px;
  color: black;
  font-weight: 600;
}

#map_filter hr {
  margin-top: 2px;
  margin-bottom: 2px;
}

.map_filter_item {
  font-size: 0.75em;
  margin-bottom: 5px;
}

.map_filter_label {
  color: darkgreen;
}

.map_filter_slider {
  width: 100%;
  height: 15px;
}

.map_filter_slider_line {
  position:absolute;
  width:100%;
  top:7.5px;
  border:1px inset white;
  overflow:hidden;
  height:0;
}

.goog-twothumbslider-horizontal,
.goog-slider-horizontal {
  background-color: lightgray;
  opacity: 0.5;
  position: relative;
  overflow: hidden;
}

.goog-twothumbslider-value-thumb,
.goog-twothumbslider-extent-thumb,
.goog-slider-thumb {
  position: absolute;
  background-color: darkgray;
  opacity: 1;
  overflow: hidden;
  text-align: center;
  color: black;
}

.goog-twothumbslider-horizontal .goog-twothumbslider-value-thumb,
.goog-twothumbslider-horizontal .goog-twothumbslider-extent-thumb, 
.goog-slider-horizontal .goog-slider-thumb {
  width: 25px;
  height: 100%;
}

.goog-checkbox {
  border: 1px solid #1C5180;
  display: -moz-inline-box;
  display: inline-block;
  font-size: 1px;  /* Fixes the height in IE6 */
  height: 11px;
  margin: 0 4px 0 1px;
  vertical-align: text-bottom;
  width: 11px;
}

.goog-checkbox-checked {
  background: #fff url(/static/img/check-sprite.gif) no-repeat 2px center;
}

.goog-checkbox-undetermined {
  background: #bbb url(/static/img/check-sprite.gif) no-repeat 2px center;
}

.goog-checkbox-unchecked {
  background: #fff;
}

/************************* 
 * Sidebar
 *************************/

#sidebar {
  position: absolute;
  top: 25px;
  right: 0px;
  bottom: 0px;
  width: 200px;
  z-index: 5;
  line-height: 15px;
}

#sidebar_toggle {
  position: absolute;
  top: 25px;
  bottom: 0px;
  right: 200px;
  width: 14px;
  z-index: 10;
  opacity: 0.8;
  line-height: 15px;
}

#sidebar_toggle_padding {
  height: 50%;
  width: 100%;
}

#sidebar_toggle_icon {
}

#sidebar_content {
  padding: 5px;
  text-align: center;
}

#sidebar_content h4 {
  height: 50px;
}

#sidebar_content h4 a {
  color: black;
}

/*
#sidebar_content a {
  color: black;
  text-decoration: underline;
}
  */

#sidebar_img,
#sidebar_content img {
  width: 180px;
  height: 130px;
  text-align: center;
}

#sidebar_img {
/*
  border-style: solid;
  border-width: 1px;
  */
  margin-bottom: 5px;
}

.hut_detail_table {
  width: 100%;
  font-size: 10px;
  font-weight: 600;
  color: black;
  text-align: left;
}

.hut_detail_footer {
  padding-top: 1em;
}

.hut_detail_title {
  color: darkgreen;
  width: 65px;
}

.hut_detail_left {
  width: 50px;
}

@media print {
  html, body {
    height: auto;
  }

  #map_canvas {
    height: 650px;
  }
}

