{% verbatim %}
<div ng-controller="HutCtrl">
  <div id="alert-topbar" ng-show="alerts.length">
    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
  </div> 
  <div class="hut-sidebar">
    {% endverbatim %}{% include "huts/hut_info.html" %}{% verbatim %}
    <!--
    <p>num huts: {{huts.length}}</p>
    <p>{{center}}</p>
    <p>{{zoom}}</p>
    <p>{{bounds}}</p>
    -->
  </div>
  <div ng-controller="MapConfigCtrl">
    <div ng-controller="MapCtrl">
      <gm-map class="map" gm-map-id="hutmapMapId" gm-center="center" gm-zoom="zoom" gm-bounds="bounds" gm-map-options="mapOptions">
        <gm-markers gm-objects="huts" 
                    gm-get-lat-lng="{lat:object.location.lat, lng:object.location.lng}" 
                    gm-marker-options="markerOptions.huts"
                    gm-event="hutMarkerEvent"
                    gm-on-click="selectHut(marker, object)">
        </gm-markers>
      </gm-map>
    </div>
  </div>
</div>
{% endverbatim %}
