{% verbatim %}
<div ng-controller="HutCtrl">
  <div ng-controller="HutImgCtrl">
  <div ng-controller="AlertCtrl">
    <div id="alert-topbar" ng-show="alerts.length">
      <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
    </div> 
    <div id="loading-indicator" ng-show="loading">
      <i class="img-loading"></i> 
    </div>
    <div id="show-hide-filter-sidebar"
         ng-class="{'filter-sidebar-hidden': !ui.showFilterSidebar}">
      <div class="shade-background">
        <i ng-class="{
            'icon-chevron-right': !ui.showFilterSidebar,
            'icon-chevron-left':  ui.showFilterSidebar
           }"
           ng-click="ui.showFilterSidebar = !ui.showFilterSidebar" ></i>
      </div>
    </div>
    <div ng-controller="FilterCtrl">
      <div id="filter-sidebar" ng-class="{'filter-sidebar-hidden': !ui.showFilterSidebar}">
        {% endverbatim %}
          {% include "partials/components/summary_info.html" %}
          {% include "partials/components/filters.html" %}
        {% verbatim %}
      </div>
      <div ng-controller="MapConfigCtrl">
        <div ng-controller="MapCtrl">
          <div id="map" ng-class="{'filter-sidebar-hidden': !ui.showFilterSidebar}">
            <gm-map class="map" 
                    gm-map-id="hutmapMapId" gm-center="center" gm-zoom="zoom" gm-bounds="bounds" gm-map-options="mapOptions">
              <gm-markers gm-objects="huts" 
                          gm-get-lat-lng="{lat:object.location.coordinates[1], lng:object.location.coordinates[0]}" 
                          gm-get-marker-options="getMarkerOptions(object)"
                          gm-events="hutMarkerEvents"
                          gm-on-click="selectHut(marker, object)"
                          gm-on-mouseover="showMarkerTooltip(marker, object)"
                          gm-on-mouseout="hideMarkerTooltip(marker, object)">
              </gm-markers>
            </gm-map>
          </div>
          <div id="hut-bottombar" ng-controller="BottomBarCtrl" ng-class="{'filter-sidebar-hidden': !ui.showFilterSidebar}">
            {% endverbatim %}
              {% include "partials/components/hut_info.html" %}
            {% verbatim %}
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
{% endverbatim %}
