html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial,Helvetica,sans-serif;
}

/* Round all input elements */
input		{ -moz-border-radius:10px; -webkit-border-radius:10px; }

/* Change color of highlighting */
::selection			{ background:#c3effd; color:#000; /* Safari and Opera */ }
::-moz-selection  { background:#c3effd; color:#000; /* Firefox */ }

.logo {
  font-style: italic;
}

#nav {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 30px;
  list-style-type:none;
  margin: 0;
  padding: 0;
  overflow:hidden;
  background-color: #466A8E;
}

#nav li {
  float:left;
}

#nav a:link,a:visited {
  display:block;
  width:120px;
  font-weight:bold;
  color: white;
  text-align:center;
  padding:6px;
  text-decoration:none;
  text-transform:uppercase;
  border-right-style: solid;
  border-right-color: white;
  border-right-width: 1px;
}

#nav a:hover {
  background-color: steelblue;
}

#nav a:active {
  background-color: white;
}

#content {
  position: absolute;
  top: 30px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

