#map_canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 208px;
}

#sidebar {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 200px;
  z-index: 5;
}

#sidebar_toggle {
  position: absolute;
  right: 200px;
  height: 100%;
  width: 8px;
  font-size: 0.75em;
  z-index: 10;
  background-color: lightgray;
  opacity: 0.8;
  cursor: e-resize;
}

#sidebar_toggle_padding {
  height: 50%;
  width: 100%;
}

#sidebar_toggle_icon {
  font-weight: 900;
}

#sidebar_content {
  padding: 5px;
  text-align: center;
}

#sidebar_content a {
  color: black;
}

#sidebar_content img {
  border-style: solid;
  border-width: 1px;
  width: 180px;
  height: 130px;
}

.hut_detail_table {
  width: 100%;
  font-size: 10px;
  font-weight: 700;
  text-align: left;
}

.hut_detail_footer {
  padding-top: 1em;
}

.hut_detail_title {
  color: darkgreen;
  width: 65px;
}

.hut_detail,.hut_detail_left {
}

.hut_detail_left {
  width: 50px;
}

@media print {
  html, body {
    height: auto;
  }

  #map_canvas {
    height: 650px;
  }
}

