{% extends "base.html" %}

{% block styles %}
    <link href="/static/css/goog.css" rel="stylesheet"> 
    <link href="/static/css/map.css" rel="stylesheet"> 
    <link href="/static/css/find-huts.css" rel="stylesheet"> 
{% endblock %}

{% block scripts %}
{% include 'google-maps.html' %}
{% if DEVELOPMENT %}
    <script src="/closure/closure/goog/base.js"></script>
    <script src="/static/js/third-party/wicket.src.js"></script>
    <script src="/static/js/third-party/wicket-gmap3.src.js"></script>
    <script src="/static/js/third-party/markerclusterer.js"></script>
    <script src="/static/js/hutmap/consts.js"></script>
    <script src="/static/js/hutmap/ajax.js"></script>
    <script src="/static/js/hutmap/history.js"></script>
    <script src="/static/js/hutmap/huts.js"></script>
    <script src="/static/js/hutmap/search.js"></script>
    <script src="/static/js/hutmap/map/types.js"></script>
    <script src="/static/js/hutmap/map/map.js"></script>
    <script src="/static/js/hutmap/init/map-init.js"></script>
{% else %}
    <script src="/static/js/hutmap-compiled.js"></script>
{% endif %}
    <script>
      window.onload = hutmap.map.init;
    </script>
{% endblock %}

{% block content %}
<div id="top_bar">
  <div class="left">{% include 'find-huts.html' %}</div>
  <div class="middle" id="small_search_button" title="Find huts"></div>
  <div class="right" id="summary_info"><p></p></div>
</div>
<div id="map_canvas"></div>

{% endblock %}
