{% extends "base.html" %}

{% block styles %}
    <link href="/static/css/map.css" rel="stylesheet"> 
{% endblock %}

{% block scripts %}
{% include 'google-maps.html' %}
{% if DEVELOPMENT %}
    <script src="/closure/closure/goog/base.js"></script>
    <script src="/static/js/third-party/wicket.src.js"></script>
    <script src="/static/js/third-party/wicket-gmap3.src.js"></script>
    <script src="/static/js/third-party/markerclusterer.js"></script>
    <script src="/static/js/hutmap/consts.js"></script>
    <script src="/static/js/hutmap/ajax.js"></script>
    <script src="/static/js/hutmap/history.js"></script>
    <script src="/static/js/hutmap/huts.js"></script>
    <script src="/static/js/hutmap/search.js"></script>
    <script src="/static/js/hutmap/map/types.js"></script>
    <script src="/static/js/hutmap/map/map.js"></script>
    <script src="/static/js/hutmap/init/map-init.js"></script>
{% else %}
    <script src="/static/js/hutmap-compiled.js"></script>
{% endif %}
    <script>
      window.onload = hutmap.map.init;
    </script>
{% endblock %}

{% block content %}
<div id="map_canvas"></div>
<div id="sidebar">
  <div id="sidebar_content">
    <h3>Select a hut.</h3>
    <span>
      <img src="http://www.fs.usda.gov/Internet/FSE_MEDIA/stelprdb5137416.jpg" alt="hut image"></img>
      <table class="hut_detail_table">
        <tr>
          <td class="hut_detail_title">Price:</td>
          <td class="hut_detail_left">$50</td>
          <td class="hut_detail_title">Capacity:</td>
          <td class="hut_detail">5</td>
        </tr>
        <tr>
          <td class="hut_detail_title">What:</td>
          <td class="hut_detail_left">25</td>
          <td class="hut_detail_title">Yep:</td>
          <td class="hut_detail">32</td>
        </tr>
      </table>
      <table class="hut_detail_table">
        <tr>
          <td class="hut_detail_title">Access:</td>
          <td class="hut_detail">Frontcountry year-round</td>
        </tr>
        <tr>
          <td class="hut_detail_title">Type:</td>
          <td class="hut_detail">Hut</td>
        </tr>
      </table>
    </span>
  </div>
</div>
<div id="sidebar_toggle" title="Toggle Sidebar">
  <div id="sidebar_toggle_padding"></div>
  <div id="sidebar_toggle_icon">&gt;</div>
</div>

{% endblock %}
