<div id="sidebar_content">
  <h3 id="sidebar_title">Select a hut.</h3>
  <span class="hut_detail_table hidden">
    <span id="sidebar_img"><a href="http://www.fs.usda.gov/recarea/mbs/recreation/recarea/?recid=17850" target="blank"><img src="/static/img/stelprdb5137416.jpg" alt="hut image"></img></a></span>
    <table>
      <tr>
        <td class="hut_detail_title">Fee/person:</td>
        <td id="sidebar_fee_person" class="hut_detail_left">N/A</td>
        <td class="hut_detail_title">Fee/hut:</td>
        <td id="sidebar_fee_hut" class="hut_detail">$40-$40</td>
      </tr>
      <tr>
        <td class="hut_detail_title">Capacity/hut:</td>
        <td id="sidebar_capacity_hut" class="hut_detail_left">4-4</td>
        <td class="hut_detail_title">Total capacity:</td>
        <td id="sidebar_total_capacity" class="hut_detail">4</td>
      </tr>
      <tr>
        <td class="hut_detail_title">Structures:</td>
        <td id="sidebar_structures" class="hut_detail">1</td>
        <td class="hut_detail_title">Reserve?:</td>
        <td id="sidebar_reservations" class="hut_detail">yes</td>
      </tr>
    </table>
    <table>
      <tr>
        <td class="hut_detail_title">Region:</td>
        <td id="sidebar_region" class="hut_detail"> Cascade Range</td>
      </tr>
      <tr>
        <td class="hut_detail_title">Location:</td>
        <td id="sidebar_location" class="hut_detail">47.83, -121.26</td>
      </tr>
      <tr>
        <td class="hut_detail_title">Accuracy:</td>
        <td id="sidebar_accuracy" class="hut_detail">Unknown</td>
      </tr>
      <tr>
        <td class="hut_detail_title">Altitude:</td>
        <td id="sidebar_altitude" class="hut_detail">1702m</td>
      </tr>
      <tr>
        <td class="hut_detail_title">Access:</td>
        <td id="sidebar_access" class="hut_detail">Backcountry year round</td>
      </tr>
      <tr>
        <td class="hut_detail_title">Type:</td>
        <td id="sidebar_type" class="hut_detail">Fire lookout</td>
      </tr>
      <tr>
        <td class="hut_detail_title">Agency:</td>
        <td id="sidebar_agency" class="hut_detail"><a href="http://www.fs.usda.gov/main/mbs/home">USFS: Mount Baker-S...</a></td>
      </tr>
      <tr>
        <td class="hut_detail_title">Hut Url:</td>
        <td id="sidebar_hut_url" class="hut_detail"><a href="http://www.fs.usda.gov/main/mbs/home">USFS: Mount Baker-S...</a></td>
      </tr>
    </table>
    <table class="hut_detail_footer">
      <tr>
        <td class="hut_detail_title">See also:</td>
        <td class="hut_detail"><a href="">Huts from this Region</a></td>
      </tr>
      <tr>
        <td></td>
        <td class="hut_detail"><a href="">Huts from this Agency</a></td>
      </tr>
    </table>
  </span>
</div>
