<div id="map_filter"> <!-- class="hidden" >-->
  <span>Showing <span id="map_filter_hut_count">0</span> huts</span>
  <hr/>
  <div id="map_filter_fee_person" class="map_filter_item" >
    <div class="map_filter_label">Fee/person:</div>
    <div id="map_filter_fee_person_slider" class="goog-twothumbslider map_filter_slider" >
      <div class="map_filter_slider_line"></div>
      <div class="goog-twothumbslider-value-thumb"></div>
      <div class="goog-twothumbslider-extent-thumb"></div>
    </div>
  </div>
  <div id="map_filter_fee_hut" class="map_filter_item">
    <div class="map_filter_label">Fee/hut:</div>
    <div id="map_filter_fee_hut_slider" class="goog-twothumbslider map_filter_slider" >
      <div class="map_filter_slider_line"></div>
      <div class="goog-twothumbslider-value-thumb"></div>
      <div class="goog-twothumbslider-extent-thumb"></div>
    </div>
  </div>
  <div id="map_filter_capacity" class="map_filter_item">
    <div class="map_filter_label">Minimum Capacity:</div>
    <div id="map_filter_capacity_slider" class="goog-slider map_filter_slider">
      <div class="map_filter_slider_line"></div>
      <div class="goog-slider-thumb"></div>
    </div>
  </div>
  <div id="map_filter_hut_access" class="map_filter_item">
    <div class="map_filter_label">Hut access:</div>
    <div><span id="map_filter_hut_access_0"></span>Frontcountry year-round</div>
    <div><span id="map_filter_hut_access_1"></span>Winter backcountry</div>
    <div><span id="map_filter_hut_access_2"></span>Backcountry year-round</div>
  </div>
</div>

