body {
  .grayjean;
}

.hide {
  display: none;
}

.transparent {
  color: transparent; 
  background-color: transparent; 
  border-color: transparent;
}

.visuallyhidden {
  border: 0 none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.bold {
  font-weight: bold;
}

.floatright {
  float: right !important;
}

.up1 {
  position: relative;
  top: -1px;
}

.up2 {
  position: relative;
  top: -2px;
}

.center {
  margin-left:auto;
  margin-right:auto;
}

.clearfix { 
  zoom: 1; 
  &:before, &:after {
    content: ""; 
    display: table; 
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both; 
  }
}

.grayjean {
  background-image: url('@{staticUrl}img/gray-jean.png');
}

/* navbar */

#navbar {
  .brand i {
    width: 18px;
    height: 18px;
    margin-right: 5px;
    vertical-align: top;
  }

  #navbar-search {
    @searchPaddingLeft: 15px;
    @searchPaddingRight: 30px;
    @searchBorder: 1px;
    @searchPadding: 4px;

    .search-query {
      padding-left: @searchPaddingLeft;
      padding-right: @searchPaddingRight;
      border: @searchBorder solid lighten(@grayDarker, 10%);
      margin: unit(((@navbarHeight - @searchInputHeight - (2*@searchBorder) - (2*@searchPadding))/2), px) 0;
      font-size: @searchFontSize;
      height: @searchInputHeight;
      width: @searchInputWidth;
      color: @grayDarker;
      background-color: darken(@grayLighter, 15%);
      .transition(all .2s linear);

      &:focus {
        padding-top: @searchPadding;
        padding-bottom: @searchPadding;
        background-color: darken(@white, 5%);
        box-shadow: none;
      }
    }

    .dropdown-menu {
      overflow: hidden;
      width: @searchInputWidth + 45px;
      font-size: @searchFontSize;
    }

    .search-icon {
      cursor: pointer;
      display: block;
      height: 100%;
      width: @searchPaddingRight;
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: 5;

      span {
        position: absolute;
        top: 6px;
        right: 10px;
        font-size: @searchFontSize;
        color: @gray;
      }

      button {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 10;
      }
    }
  }
}

#alert-topbar {
  position: absolute;
  top: (@navbarHeight + 1);
  left: 0px;
  right: 0px;
  z-index: 100000;

  .alert {
    margin: 0px;
  }
}

#content {
  .container {
    .carousel {
      height: @carouselHeight;
      border-style: solid;
      border-color: @grayDarker;
      border-width: 15px;
      .border-radius( 5px );
    }
  }
}

#loading-indicator {
  left: 50%;
  position: fixed;
  top: 50%;
  z-index: 100000;

  .spinner {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    .border-radius( 10px );
    height: 32px;
    margin-left: -31px;
    margin-top: -31px;
    padding: 15px;
    text-align: center;
    width: 32px;
  }
}



