/**
 * Styles for base.html
 */

body {
  .grayjean;
}

#navbar {
  .navbar-inner {
    color: @gray;
    border-width: 0px;
    background-image: none;
    background-color: fade(@gray, 80%);
  }

  .brand {
    background-color: lighten(@gray, 10%);
    font-size: 18px;
    font-weight: 600;
    position: relative;
    z-index: 10;
    height: 21px;

    i {
      width: 20px;
      height: 20px;
      float: left;
      margin-right: 5px;
    }
  }

  #navbar-search {
    @searchPaddingLeft: 30px;
    @searchPaddingRight: 30px;
    @searchBorder: 1px;
    @searchPadding: 4px;
    @searchBarShift: 10px;
    @placeholderColor: @gray;

    margin-right: 10px;

    .search-query {
      padding-left: @searchPaddingLeft;
      padding-right: @searchPaddingRight;
      border: @searchBorder solid darken(@gray, 5%);
      margin: unit(((@navbarHeight - @searchInputHeight - (2*@searchBorder) - (2*@searchPadding))/2), px) 0;
      font-size: @searchFontSize;
      height: @searchInputHeight;
      width: @searchInputWidth;
      position: relative;
      right: @searchBarShift;
      color: @placeholderColor;
      background-color: darken(@grayLighter, 15%);
      .transition(background-color .2s ease-out .05s);
      .transition(width .2s ease-out .05s);
      z-index: 5;

      &:focus {
        padding-top: @searchPadding;
        padding-bottom: @searchPadding;
        background-color: darken(@white, 5%);
        width: @searchInputWidth + 100px;
        box-shadow: none;
      }

      &::-webkit-input-placeholder { /* WebKit browsers */
          color:    @placeholderColor;
      }
      &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          color:    @placeholderColor;
      }
      &::-moz-placeholder { /* Mozilla Firefox 19+ */
          color:    @placeholderColor;
      }
      &:-ms-input-placeholder { /* Internet Explorer 10+ */
          color:    @placeholderColor;
      }
    }

    .dropdown-menu {
      overflow: hidden;
      width: @searchInputWidth + 45px;
      font-size: @searchFontSize;
    }

    .search-icon {
      cursor: pointer;
      display: block;
      height: 100%;
      width: @searchPaddingRight;
      position: absolute;
      top: 0px;
      right: @searchBarShift;
      z-index: 10;

      span {
        position: absolute;
        top: 6px;
        right: 10px;
        font-size: @searchFontSize;
        color: @gray;
      }

      button {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 15;
      }
    }
  }
}

