body {
  background-image: url('/static/img/gray-jean.png');
}

.hidden {
  display: none;
}

.transparent {
  color: transparent; 
  background-color: transparent; 
  border-color: transparent;
}

.visuallyhidden {
  border: 0 none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.bold {
  font-weight: bold;
}

.floatright {
  float: right !important;
}

.up1 {
  position: relative;
  top: -1px;
}

.up2 {
  position: relative;
  top: -2px;
}

.clearfix:before, .clearfix:after { 
  content: ""; 
  display: table; 
}

.clearfix:after { 
  clear: both; 
}

.clearfix { 
  zoom: 1; 
}

/* navbar */

#navbar .brand img {
  width: 18px;
  height: 18px;
  margin-right: 3px;
}

#navbar-search input {
  padding-right: 20px;
}

#navbar-search .search-icon {
  cursor: pointer;
  display: block;
  height: 100%;
  width: 30px;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 5;
}

#navbar-search .search-icon .icon-search {
  position: absolute;
  top: 6px;
  right: 10px;
}

#navbar-search .search-icon button {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 10;
}

