body {
  background-image: url('/static/img/gray-jean.png');
}

#top_unit {
  background-image: url('/static/img/mint-hut.jpg');
  color: black;
}

#navbar-search {
  float:right;
}

#navbar-search input {
  line-height:15px;
  height:15px;
  margin-top:2px;
  margin-bottom:2px;
  padding-right:29px;
}

#navbar-search span {
  position:absolute;
  top:7px;
  right:11px;
}

#navbar-search span input {
  width:inherit;
  height:inherit;
}

.hidden {
  display: none;
}

.transparent {
  color: transparent; 
  background-color: transparent; 
  border-color: transparent;
}

.bold {
  font-weight: bold;
}

.vertical_gradient {
  /* IE10 Consumer Preview */ 
  background-image: -ms-linear-gradient(top, rgb(3, 60, 115) 0%, #FFFFFF 100%);
  /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(top, rgb(3, 60, 115) 0%, #FFFFFF 100%);
  /* Opera */ 
  background-image: -o-linear-gradient(top, rgb(3, 60, 115) 0%, #FFFFFF 100%);
  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(3, 60, 115)), color-stop(1.0, #FFFFFF));
  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-linear-gradient(top, rgb(3, 60, 115) 0%, #FFFFFF 100%);
  /* W3C Markup, IE10 Release Preview */ 
  background-image: linear-gradient(to bottom, rgb(3, 60, 115) 0%, #FFFFFF 100%);
}

