/** 
 * Styles for map.html
 */

#alert-topbar {
  position: absolute;
  top: @navbarHeight;
  left: 0px;
  right: 0px;
  z-index: 100000;

  .alert {
    margin: 0px;
  }
}

#loading-indicator {
  left: 50%;
  position: fixed;
  top: 50%;
  z-index: 100000;

  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0 0;
  background-color: rgba(0, 0, 0, 0.8);
  .border-radius( 10px );
  margin-left: -31px;
  margin-top: -31px;
  padding: 15px;
  text-align: center;
  height: 32px;
  width: 32px;
}

#filter-sidebar {
  float: left;
  margin-top: @navbarHeight;
  width: @filterBarWidth;
  height: 100%;
  font-size: @fontSizeSmall;
  border-right: @borderColor solid @filterBarBorderWidth;

  .summary-info, .hut-filter-table {
    padding: 1em;
  }

  .summary-info {
    background-color: @altBgColor;
    border-bottom: @borderColor solid @filterBarBorderWidth;

    i {
      .pointer;
      text-shadow: 1px 1px 1px @grayLighter;
    }

    .summary-filtered-hut-count {
      color: @red;
    }

    .summary-total-hut-count {
      color: @grayDark;
    }
  }

  .hut-filter-table {

    .hut-filter-title {
      color: @sidebarLabelColor;
    }

    .hut-filter-icons {
      font-size: @fontSizeLarge + 5px;
    }

    .hut-filter-list {
      text-shadow: 1px 1px 1px @white;
      list-style-type: none; 
      color: darken(@grayLight, 10%);

      &:hover {
        .pointer;
      }

      .selected {
        color: @grayDark;
      }

      .tooltip {
        text-shadow: none;
      }
    }
  }
}

.map {
  position: absolute;
  right: 0px;
  left: @filterBarWidth + @filterBarBorderWidth;
  top: @navbarHeight;
  bottom: @hutBarHeight;
  z-index: 100;

  /* 
  Fixes Bootstrap issues with Google Maps
  see http://stackoverflow.com/a/9170756 
  */
  img { 
      max-width: none;
  }
}

#hut-bottombar {
  position: absolute;
  left: @filterBarWidth + @filterBarBorderWidth;
  right: 0;
  bottom: 0;
  height: @hutBarHeight;
  font-size: @fontSizeSmall;
  border-left: @borderColor solid @filterBarBorderWidth;

  .hut-grid {
    height: @hutBarHeight;
    width: 100%;
    font-size: @fontSizeSmall;
    background: transparent;
  }

  .ngGrid {
    background: transparent;
  }

  .ngRow.even {
    background-color: none;
  }

  .ngRow.odd {
    background-color: fadeout(@altBgColor, 10%);
  }

  .ngRow.selected {
      background-color: rgb(201, 221, 225);
  }

  .hut-list-headers {
    height: 25px;
  }
  .hut-list {
    height: @hutBarHeight - 25px;
    overflow-y: scroll;

    table {
      border-collapse: collapse;
      width: 100%;

      th, td {
        padding-left: 1em;
      }

      th {
        text-align: left;
        background-color: darken(@altBgColor, 20%);
      }

      td {
        padding-top: 5px;
        border-top: @borderColor solid 1px;
      }

      .alt {
        background-color: fadeout(@altBgColor, 10%);
      }
    }
  }
}

