/** 
 * Styles for map.html
 */

#filter-sidebar, #map, #hut-bottombar {
  .transition(left 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 20ms);
}

#alert-topbar {
  position: absolute;
  top: @navbarHeight;
  left: 0px;
  right: 0px;
  z-index: 100000;

  .alert {
    margin: 0px;
  }
}

#loading-indicator {
  left: 50%;
  position: fixed;
  top: 50%;
  z-index: 100000;

  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0 0;
  background-color: rgba(0, 0, 0, 0.8);
  .border-radius( 10px );
  margin-left: -31px;
  margin-top: -31px;
  padding: 15px;
  text-align: center;
  height: 32px;
  width: 32px;
}

#show-filter-sidebar {
  position: absolute;
  top: @navbarHeight;
  left: 0px;
  z-index: 101;
  background-color: white;
  width: @fontSizeSmall;
  text-align: center;
  .border-bottom-right-radius( 2px );

  i {
    .clickable-icon;
  }

  .tooltip {
    width: 100px;
    z-index: 101;
  }
}

#filter-sidebar {
  position: absolute;
  top: @navbarHeight;
  left: 0px;
  bottom: 0px;
  width: @filterBarWidth;
  font-size: @fontSizeSmall;
  border-right: @borderColor solid @filterBarBorderWidth;

  &.filter-sidebar-hidden {
    left: -@filterBarWidth;
  }

  .tooltip {
    width: 200px;
  }

  .summary-info, .hut-filter-table {
    padding: @fontSizeSmall;
  }

  .summary-info {
    background-color: @altBgColor;
    border-bottom: @borderColor solid @filterBarBorderWidth;

    i {
      .clickable-icon;
    }

    .summary-filtered-hut-count {
      color: @red;
    }

    .summary-total-hut-count {
      color: @grayDark;
    }
  }

  .hut-filter-table {

    .hut-filter-title {
      color: @sidebarLabelColor;
    }

    .hut-filter-icons {
      font-size: @fontSizeLarge + 5px;
    }

    .hut-filter-list {
      text-shadow: 1px 1px 1px @white;
      list-style-type: none; 
      color: darken(@grayLight, 10%);

      .selected {
        color: @grayDark;
      }

      .tooltip {
        text-shadow: none;
      }
    }

    .hut-filter-item:hover {
      .pointer;
      i::before {
        .pointer;
      }
    }

    // special case since this is a different font from snow and sun icons
    .icon-question {
      position: relative;
      top: -3px;
      right: -3px;
      font-size: @fontSizeLarge + 2px;
    }
  }
}

#map {
  position: absolute;
  right: 0px;
  left: @filterBarWidth + @filterBarBorderWidth;
  top: @navbarHeight;
  bottom: @hutBarHeight + @filterBarBorderWidth;
  z-index: 100;

  &.filter-sidebar-hidden {
    left: 0px;
  }

  .map {
    width: 100%;
    height: 100%;

    /* 
    Fixes Bootstrap issues with Google Maps
    see http://stackoverflow.com/a/9170756 
    */
    img { 
        max-width: none;
    }

    .tooltip {
      min-width: 100px;
    }
  }
}

#hut-bottombar {
  position: absolute;
  left: @filterBarWidth + @filterBarBorderWidth;
  right: 0;
  bottom: 0;
  height: @hutBarHeight;
  font-size: @fontSizeSmall;
  border-top: @borderColor solid @filterBarBorderWidth;

  &.filter-sidebar-hidden {
    left: 0px;
  }

  i {
    font-size: 20px;
  }

  .hut-list {
    display: inline-block;
    overflow-y: scroll; 
    height: @hutBarHeight;
    width: 25%;
    float: left;

    table {
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;

      tr {
        border-bottom: @borderColor solid @filterBarBorderWidth;

        &.selected {
          background-color: fade(@yellow, 50%);
        }
      }

      td {
        text-align: left;

        &.name {
          max-width: @hutListWidth;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-left: @fontSizeSmall;
        }
      }
    }
  }

  .hut-info {
    height: @hutBarHeight;
    width: 75%;
    position: absolute;
    right: 0;
    bottom: 0;

    .hut-info-left {
      width: 35%;
      float: left;

      .hut-info-title {
        text-align: center;
      }

      .hut-detail-img {
        .center;
        width: 180px;
        height: 130px;

        img {
          width: 180px;
          height: 130px;
        }
      }
    }


    .hut-info-right {
      position: absolute;
      top: @fontSizeLarge + 20px;
      right: 0;
      height: auto;
      width: 65%;

      .hut-detail-title {
        color: @sidebarLabelColor;
        padding-right: 20px;
        vertical-align: top;
      }

      .hut-detail {
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

