/**
 * Typefaces
 */

// Vollkorn font

@font-face {
    font-family: 'Vollkorn';
    src: url('@{VollkornPath}/Vollkorn-Regular-webfont.eot');
    src: url('@{VollkornPath}/Vollkorn-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{VollkornPath}/Vollkorn-Regular-webfont.woff') format('woff'),
         url('@{VollkornPath}/Vollkorn-Regular-webfont.ttf') format('truetype'),
         url('@{VollkornPath}/Vollkorn-Regular-webfont.svg#VollkornRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Vollkorn';
    src: url('@{VollkornPath}/Vollkorn-Bold-webfont.eot');
    src: url('@{VollkornPath}/Vollkorn-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{VollkornPath}/Vollkorn-Bold-webfont.woff') format('woff'),
         url('@{VollkornPath}/Vollkorn-Bold-webfont.ttf') format('truetype'),
         url('@{VollkornPath}/Vollkorn-Bold-webfont.svg#VollkornBold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Vollkorn';
    src: url('@{VollkornPath}/Vollkorn-Italic-webfont.eot');
    src: url('@{VollkornPath}/Vollkorn-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{VollkornPath}/Vollkorn-Italic-webfont.woff') format('woff'),
         url('@{VollkornPath}/Vollkorn-Italic-webfont.ttf') format('truetype'),
         url('@{VollkornPath}/Vollkorn-Italic-webfont.svg#VollkornItalic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Vollkorn';
    src: url('@{VollkornPath}/Vollkorn-BoldItalic-webfont.eot');
    src: url('@{VollkornPath}/Vollkorn-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{VollkornPath}/Vollkorn-BoldItalic-webfont.woff') format('woff'),
         url('@{VollkornPath}/Vollkorn-BoldItalic-webfont.ttf') format('truetype'),
         url('@{VollkornPath}/Vollkorn-BoldItalic-webfont.svg#VollkornBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;

}

