{% extends "base.html" %}

{% block scripts %}
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
{% if DEVELOPMENT %}
    <script src="/closure/closure/goog/base.js"></script>
    <script src="/static/js/third-party/wicket.src.js"></script>
    <script src="/static/js/third-party/wicket-gmap3.src.js"></script>
    <script src="/static/js/hutmap/ajax.js"></script>
    <script src="/static/js/hutmap/map.js"></script>
{% else %}
    <script src="/static/js/hutmap-compiled.js"></script>
{% endif %}
    <script type="text/javascript">
      function initialize() {
        var autocomplete = new google.maps.places.Autocomplete(
              document.getElementById('map_search'), 
              {});

        var map = new hutmap.Map('map_canvas');

        google.maps.event.addListener(
            autocomplete, 
            'place_changed', 
            function() {
              map.placeChanged(autocomplete.getPlace());
        });

        google.maps.event.addListener(map.gmap, 'bounds_changed', function() {
            map.updateHuts();
        });

      }


      function loadScript() {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'https://maps.googleapis.com/maps/api/js?sensor=false&' +
            'libraries=places&' +
            'callback=initialize';
        document.body.appendChild(script);
      }

      window.onload = initialize;
    </script>
{% endblock %}

{% block content %}
Search: <input id="map_search" class="center" type="text"/>
<div id="map_canvas"></div>
{% endblock %}
