{% extends "base.html" %}

{% block scripts %}
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
{% if DEVELOPMENT %}
    <script src="/closure/closure/goog/base.js"></script>
    <script src="/static/js/third-party/wicket.src.js"></script>
    <script src="/static/js/third-party/wicket-gmap3.src.js"></script>
    <script src="/static/js/third-party/markerclusterer.js"></script>
    <script src="/static/js/hutmap/globals.js"></script>
    <script src="/static/js/hutmap/ajax.js"></script>
    <script src="/static/js/hutmap/history.js"></script>
    <script src="/static/js/hutmap/huts.js"></script>
    <script src="/static/js/hutmap/map/types.js"></script>
    <script src="/static/js/hutmap/map/map.js"></script>
    <script src="/static/js/hutmap/map/search.js"></script>
    <script src="/static/js/hutmap/map/init.js"></script>
{% else %}
    <script src="/static/js/hutmap-map-compiled.js"></script>
{% endif %}
    <script>
      window.onload = hutmap.map.initialize;
      //window.onload = hutmap.Huts.test;
    </script>
{% endblock %}

{% block content %}
Search: <input id="map_search" class="center" type="text"/>
<div id="map_canvas"></div>
{% endblock %}
