/**
 * Styles for about.html
 */

.profile {
  margin-top: 1.75em;
}

.profile:after {  /* Clears float instead of a div inside html */
  content: ".";
  display: block;
  height: 0;
  clear: left;
  visibility: hidden;
}

.avatar {
  float: left;
  width: 160px;
}

.bio {
  margin-left: 180px;  /* width of avatar plus desired width of gap */
}
