/**
 * Styles for about.html
 */

div.profile {
  margin-top: 1.75em;
}

div.profile:after {  /* Clears float instead of a div inside html */
  content: ".";
  display: block;
  height: 0;
  clear: left;
  visibility: hidden;
}

img.avatar {
  float: left;
  width: 160px;
}

div.bio {
  margin-left: 180px;  /* width of avatar plus desired width of gap */
}