/**
 * Styles for base.html
 */

html, body {
	background-color: @bodyColor;
  font-family: "Myriad Pro", Verdana, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
	color: #333;
}

p {
  line-height: 120%;
  margin: 1em 0; /* anti bootstrap */
  word-spacing: +0.1em; /* anti bootstrap */
}

a {
  text-decoration: none;
	color: #1BB7FD;
	cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

h1, h2 {
	font-weight: 500; /* semibold */
	line-height: inherit;
}

h1 {
	font-size: 145%;
	margin-top: 0;
}

h2 {
	font-size: 130%;
	margin-top: 1em;
}

hr {
	border: none;
	border-bottom: 1px dotted #ccc;
  height: 1px;
  width: 70%;
  margin: 2em 0 1.5em 15%;
}

.larger {
	font-size: 105%;
}

.smaller {
	font-size: 95%;
}

input.button {
  background-color: #EEE;
  border: 1px solid #CCC;
}

input.button:hover {
  background-color: #DDD;
}

/** OVERRIDE BOOTSTRAP **/

blockquote {
	border: none;
}

label, input, button, select, textarea {
	font-size: inherit;
	font-family: inherit;
	padding: .2em .2em 0 .2em;
}

/** HEADER **/

div#navbar {
  position: absolute;
  top: 0;
  height: @navbarHeight;
  background-color: fade(#555, 85%);
}

div#brand {
  background-color: lighten(@gray, 10%);
  z-index: 10;
  padding: 0px 10px 0px 20px;
  float: left;
  font-family: "Cooper Medium";
  font-weight: 600;
  font-size: 110%;
  
  a, a:hover {
    text-decoration: none;
  }
  
  a:hover span {
    color: #FFF;
  }
  
  span {
    color: #EEE;
    display: inline-block;
    vertical-align: middle;
  }
  
  img {
    height: @logoHeight;
    padding: unit((@navbarHeight - @logoHeight) / 2, px) 0;
  }
}

img#triangle {
  height: @navbarHeight;
  z-index: 10;
  float: left;
}

#navbar-search {

  @searchPaddingLeft: 25px;
  @searchPaddingRight: 30px;
  @searchPaddingTop: 4px;
  @searchPaddingBottom: 1px;
  @searchBorder: 1px;
  @searchPadding: 4px;
  @searchBarShift: 20px;
  @placeholderColor: @gray;
  @searchInputStartingWidth: 250px; /* animation currently disabled */
  @searchInputExpandedWidth: 250px;
  @searchFontSize: 0.9 * @baseFontSize;

  position: relative;
  right: @searchBarShift;
  z-index: -10;
  margin: 0;
  margin: unit((@navbarHeight - @searchInputHeight - (2*@searchBorder) - (@searchPaddingTop + @searchPaddingBottom)) / 2, px) 0;
  
  .search-query {
    padding: @searchPaddingTop @searchPaddingRight @searchPaddingBottom @searchPaddingLeft;
    border: @searchBorder solid darken(@gray, 5%);
    border-radius: 8px;
    font-size: @searchFontSize;
    height: @searchInputHeight;
    width: @searchInputStartingWidth;
    color: @placeholderColor;
    background-color: #E6E6E6;
    .transition(background-color .2s ease-out .05s);
    .transition(width .2s ease-out .05s);
    text-shadow: none;
  
    &:focus {
      background-color: @bodyColor;
      width: @searchInputExpandedWidth;
    }
  
    &::-webkit-input-placeholder { /* WebKit browsers */
        color: @placeholderColor;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: @placeholderColor;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: @placeholderColor;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: @placeholderColor;
    }
  }
  
  .dropdown-menu {
    width: @searchInputExpandedWidth + 55px;
    font-size: @searchFontSize;
    background-color: @bodyColor;
    position: absolute;
    top: (@navbarHeight - (@navbarHeight - @searchInputHeight - (2*@searchBorder) - (@searchPaddingTop + @searchPaddingBottom)) / 2) ! important;
    margin-top: 0;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    
    li a {
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
    }
  }

  .search-icon {
    cursor: pointer;
    display: block;
    height: 100%;
    width: @searchPaddingRight;
    position: absolute;
    top: -@searchBorder;
    right: 0;
    z-index: 10;
    &:focus {
      outline: none
    }

    span {
      position: absolute;
      top: 6px;
      right: 10px;
      font-size: @searchFontSize;
      color: @gray;
    }

    button {
      width: 100%;
      height: 100%;
      z-index: 15;
      position: absolute;
      top: 0;
      right: 0;
      &:focus {
        outline: none
      }
    }
  }
}

div#navbar .nav li a {
  font-size: 105%;
}

div#share_controls {
	position: absolute;
	right: 20px;
	top: (@navbarHeight - 22px) / 2;
}