/** 
 * Styles for map.html
 */

/* states */
.is-filter-sidebar-hidden {
    left: 0px !important;
}
.is-hut-sidebar-visible {
    right: @hutBarWidth + @barBorderWidth !important;
}


/* transitions */

@transition-duration: 300ms;
@transition-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
@transition-delay: 20ms;

#show-hide-filter-sidebar, #filter-sidebar {
  .transition(left @transition-duration @transition-function @transition-delay);
}

#show-hide-hut-sidebar, #hut-sidebar {
  .transition(right @transition-duration @transition-function @transition-delay);
}

#map {
  .transition(
    left @transition-duration @transition-function @transition-delay,
    right @transition-duration @transition-function @transition-delay;
  );
}


/* layouts */

#alert-topbar {
  position: absolute;
  top: 1em;
  left: 0px;
  right: 0px;
  z-index: 1000;

  .alert {
    width: 50%;
    border-color: @successText;
    margin-left: auto;
    margin-right: auto;
  }
}

#loading-indicator {
  left: 50%;
  position: fixed;
  top: 50%;
  z-index: 100000;

  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0 0;
  background-color: rgba(0, 0, 0, 0.8);
  .border-radius( 10px );
  margin-left: -31px;
  margin-top: -31px;
  padding: 15px;
  text-align: center;
  height: 32px;
  width: 32px;
}

#show-hide-filter-sidebar {
  position: absolute;
  top: @hideFilterBarOffset;
  left: @filterBarWidth;
  z-index: 101;
}

#filter-sidebar {
  position: absolute;
  top: 0;
  left: 0px;
  bottom: 0px;
  width: @filterBarWidth;
  font-size: @fontSizeSmall;
  border-right: @barBorderColor solid @barBorderWidth;
  overflow-y: auto;
  
  .hut-filter-item {
    .pointer;
  }
  
  &.is-filter-sidebar-hidden {
    left: -@filterBarWidth !important;
  }
  
  i.icon-refresh {
    .pointer;
  }

  .summary-info, .hut-filter-table {
    padding: @fontSizeSmall;
  }

  .summary-info {
    background-color: @altBgColor;
    border-bottom: 1px dotted @barBorderColor;

    i {
      text-align: center;
      .clickable-icon;
      text-shadow-color: darken(@grayLighter, 10%);

      &.unselected {
        color: darken(@grayLight, 10%);
      }
    }

    .summary-filtered-hut-count {
      color: @red;
    }

    .summary-total-hut-count {
      color: @grayDark;
    }

  }

  .hut-filter-table {
    .hut-filter-title {
      color: #333;
			font-size: 105%;      
    }

    .hut-filter-icons {
      font-size: @fontSizeLarge + 5px;
    }

    .hut-filter-list {
      list-style-type: none; 
      color: darken(@grayLight, 10%);

			li.ng-scope {
				font-size: 1em;
				line-height: 100%;
				display: inline-block;
				padding: 3px;
				border: 1px solid #ddd;
				.pointer;
			}
			
      li.selected {
        background-color: #eee;
      }
      
      .selected {
				 color: @grayDark;
				 text-shadow: 1px 1px 1px @white;
      }
    }
    
    .hut-filter-list, 
    .hut-filter-minmax {
			margin: 0 0 10px 10px;
		}
		
		.hut-filter-units {
			display: inline-block;
			margin-left: 0;
			vertical-align: top;
			
			li, li.selected {
				line-height: 100%;
				background-color: inherit;
			}
		}
		
    input {
      font-size: 1em;
			width: 3.5em;
			border: 1px solid #ddd;
			text-align: right;
    }

    // special case since this is a different font from snow and sun icons
    .icon-question {
      position: relative;
      top: -3px;
      right: -3px;
      font-size: @fontSizeLarge + 2px;
    }
  }
}

#map {
  position: absolute;
  right: 0;
  left: @filterBarWidth + @barBorderWidth;
  top: 0;
  bottom: 0;
  z-index: 100;

  .map {
    width: 100%;
    height: 100%;

    /* 
    Fixes Bootstrap issues with Google Maps
    see http://stackoverflow.com/a/9170756 
    */
    img { 
        max-width: none;
    }

    .tooltip {
      min-width: 100px;
      margin-left: 20px;
    }
  }
}

#link-button {
  .link-button-icons {
    position: absolute;
    left: 30%;
    bottom: 0;
    z-index: 101;
    padding: .25em;
    background-color: rgb(250,250,250);
    .border-top-left-radius( 4px );
    .border-top-right-radius( 4px );
    border-left: @barBorderColor solid @barBorderWidth;
    border-top: @barBorderColor solid @barBorderWidth;
    border-right: @barBorderColor solid @barBorderWidth;

    i {
      padding: .15em;
      .clickable-icon;
    }

  }

  .popover {
    font-size: @fontSizeSmall;
    //width: 120em;

    input {
      margin-bottom: 2em;
    }

    .addthis {
      height: 37px;
      line-height: 37px;

      label, .addthis_toolbox {
        display: inline-block;
      }

      label {
        float: left;
      }
    }

    .popover-title {
      text-align: center;
    }
  }

}

#show-hide-hut-sidebar {
  position: absolute;
  top: @hideFilterBarOffset;
  right: 0;
  z-index: 101;
}

#hut-sidebar {
  position: absolute;
  bottom: 0;
  right: -@hutBarWidth;
  top: 0;
  width: @hutBarWidth;
  font-size: @fontSizeSmall;
  border-left: @barBorderColor solid @barBorderWidth;
  overflow-y: auto;
  
  &.is-hut-sidebar-visible {
    right: 0 !important;
  }

  &.filter-sidebar-hidden {
    left: 0px;
  }
  
  #hut-buttons {
    
    a.button {
      text-decoration: none;
      padding: 1px 2px 0px 2px;
      font-size: 90%;
      border-bottom: 1px solid @borderColor;
      vertical-align: top;
    }
  }
    
  #hut-info {
    padding: 5px 8px 0px 10px;
    text-align: center;
  }
  
  hr {
    margin: 1em 15% 1.25em 15%;
  }
  
  .spanlist {
    > span {
      display: inline-block;
      padding: 0.1em 0.4em 0 0.4em;
      background-color: @altBgColor;
      margin-bottom: 0.2em;
      line-height: 125%;
    }
  }
  
  .category {
    margin-right: 0.25em;
    
    &:after {
      content: &ndash;;
    }
  }
  
  a {
    color: inherit;
  }
  
  .hutname {
    font-size: 140%;
  }
  
  div.image {
    position: relative;
    img {
      width: 100%;
    }
    div.credit {
      position: absolute; 
      bottom: 0; 
      left: 0; 
      span {
        font-size: 80%;
        color: white;
        padding: 5px;
        color: white;
        text-shadow:
        -1px -1px 0 fade(#333,50%),
        1px -1px 0 fade(#333,50%),
        -1px 1px 0 fade(#333,50%),
        1px 1px 0 fade(#333,50%);
      }
    }
  }
  
  .main-hut-img {
    border-bottom: @borderColor solid 0px;
  }
  
  .obliques-gallery {
    margin: 15px auto 0 auto;
    width: @hutBarWidth * 0.85;
  }
}

