{% load staticfiles %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
<head>
  
  <!-- Meta Tags -->
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hutmap</title>
  <meta name="description" content="Your guide to North America's backcountry huts." />
  <meta name="keywords" content="map, backcountry, hut, cabin, yurt, lean-to, shelter, cave, chickee, skiing, hiking, backpacking, mountaineering, climbing, adventure, outdoors, Hutmap, Ethan Welty, Dylan Price" />
  
  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static "hutmap/img/logo-icon-dark.ico" %}">
  
	<!-- Facebook OpenGraph Tags -->
  <meta property="og:title" content="Hutmap" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.hutmap.com/" />
  <meta property="og:description" content="Your guide to North America's backcountry huts." />
  <meta property="og:image" content="{% static "hutmap/img/og/logo-icon-dark.png" %}" />
  <meta property="og:image" content="{% static "hutmap/img/og/logo-square-dark.png" %}" />
  <meta property="og:image" content="{% static "hutmap/img/og/110318_0354.jpg" %}" />
	
	<!-- CSS -->	
  {% compress css %}
  <link rel="stylesheet" type="text/less" charset="utf-8" href="{% static "hutmap/css/hutmap.less" %}">
  {% endcompress %}
  
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

	<!-- Google Analytics -->
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-40265178-1']);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>

</head>

<body>

  <div ng-app="hutmap" ng-controller="HutmapCtrl">

    <div id="navbar" class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner"">
        
        <a class="brand" href="/"><i class="img-logo up1"></i><span class="logo">Hutmap</span>
        </a>
        <form id="navbar-search" class="navbar-search" ng-controller="SearchCtrl" ng-submit="search(selected)">
          <img style="z-index: 10;position: absolute;" src="{% static "hutmap/img/triangle-right.png" %}" />
          <input type="text" 
                 class="search-query" 
                 placeholder="Find backcountry huts" 
                 autocomplete="off"
                 ng-model="selected" 
                 typeahead="place as place.description for place in getPlaces($viewValue)"
                 />
          <span class="search-icon">
            <span ng-class="{
              'icon-search': !submitting && !autocompleting,
              'img-spinner': submitting || autocompleting
            }"></span>
            <button class="transparent" type="submit">
              <span class="visuallyhidden">Search</span>
            </button>
          </span>
        </form>
        
        <ul class="nav">
          <li ng-class="{ active: $route.current.activetab == 'map'}">
            <a ng-href="/map/">
              Map
            </a>
          </li>
          <li ng-class="{ active: $route.current.activetab == 'about'}">
            <a href="/about/">
              About
            </a>
          </li>
        </ul>
        
      </div>
      
      <!-- AddThis Buttons -->
			<div id="share_controls" class="addthis_toolbox addthis_default_style" >
				<a class="addthis_button_facebook_like" fb:like:layout="button_count" addthis:url="http://www.facebook.com/Hutmap"></a> 	
				<a class="addthis_counter addthis_pill_style" addthis:url="http://www.hutmap.com"></a>
			</div>
			<!-- URL tracking <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>-->
			<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51390d312330c4fe"></script>

    </div>

    <div ng-cloak>
      <div id="content">
        <ng-view></ng-view>
      </div>
    </div>

    <script type="text/ng-template" id="template/carousel/carousel.html">
      {% include "partials/components/carousel.html" %}
    </script>
    <script type="text/ng-template" id="template/carousel/slide.html">
      {% include "partials/components/slide.html" %}
    </script>
    <script type="text/ng-template" id="template/typeahead/typeahead-popup.html">
      {% include "partials/components/typeahead-popup.html" %}
    </script>
    <script type="text/ng-template" id="template/typeahead/typeahead-match.html">
      {% include "partials/components/typeahead-match.html" %}
    </script>
    <script type="text/ng-template" id="template/alert/alert.html">
      {% include "partials/components/alert.html" %}
    </script>
    <script type="text/ng-template" id="template/tooltip/tooltip-popup.html">
      {% include "partials/components/tooltip-popup.html" %}
    </script>
    <script type="text/ng-template" id="template/popover/popover.html">
      {% include "partials/components/popover.html" %}
    </script>

  </div>

  <script src="//maps.googleapis.com/maps/api/js?v=3.12&sensor=false&libraries=places&key={{ GOOGLE_API_KEY }}"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular-resource.min.js"></script>
  <script src="//apis.google.com/js/client.js"></script>
  <script type="text/javascript" charset="utf-8">
    window.hutmap = {
      STATIC_URL: '{{ STATIC_URL }}',
      GOOGLE_API_KEY: '{{ GOOGLE_API_KEY }}',
    };
  </script>
  {% compress js %}
  <script type="text/javascript" charset="utf-8" src="{% static "hutmap/js/third-party/ui-bootstrap-0.6.0-SNAPSHOT.js" %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static "hutmap/js/third-party/keydragzoom.js" %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static "hutmap/js/third-party/angular-gm-0.2.0.js" %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static "hutmap/js/hutmap/app.js" %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static "hutmap/js/hutmap/services/module.js" %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static "hutmap/js/hutmap/controllers/module.js" %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static "hutmap/js/hutmap/filters.js" %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static "hutmap/js/hutmap/directives.js" %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static "hutmap/js/hutmap/services/Huts.js" %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static "hutmap/js/hutmap/services/Places.js" %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static "hutmap/js/hutmap/services/MarkerTooltip.js" %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static "hutmap/js/hutmap/services/utils.js" %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static "hutmap/js/hutmap/controllers/HutmapCtrl.js" %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static "hutmap/js/hutmap/controllers/CarouselCtrl.js" %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static "hutmap/js/hutmap/controllers/AlertCtrl.js" %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static "hutmap/js/hutmap/controllers/BottomBarCtrl.js" %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static "hutmap/js/hutmap/controllers/HutImgCtrl.js" %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static "hutmap/js/hutmap/controllers/HutCtrl.js" %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static "hutmap/js/hutmap/controllers/MapCtrl.js" %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static "hutmap/js/hutmap/controllers/MapConfigCtrl.js" %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static "hutmap/js/hutmap/controllers/SearchCtrl.js" %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static "hutmap/js/hutmap/controllers/FilterCtrl.js" %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static "hutmap/js/hutmap/controllers/LinkCtrl.js" %}"></script>
  {% endcompress %}

</body>
</html>
