<script type="text/ng-template" id="template/alert/alert.html">
  {% include "partials/components/alert.html" %}
</script>

<script type="text/ng-template" id="template/popover/popover.html">
  {% include "partials/components/share.html" %}
</script>

<div ng-controller="LinkCtrl">
<div ng-controller="HutCtrl">
  <div ng-controller="HutImgCtrl">
  <div ng-controller="AlertCtrl">
    <div id="alert-topbar" ng-show="alerts.length">
      <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">[*alert.msg*]</alert>
    </div> 
    <div id="loading-indicator" ng-show="loading">
      <i class="img-loading"></i> 
    </div>
    <div id="show-hide-filter-sidebar"
         ng-class="{'filter-sidebar-hidden': !ui.showFilterSidebar}">
      <i ng-class="{
          'icon-chevron-right': !ui.showFilterSidebar,
          'icon-chevron-left':  ui.showFilterSidebar
         }"
         ng-click="ui.showFilterSidebar = !ui.showFilterSidebar" ></i>
    </div>
    {% include "partials/components/link_button.html" %}
    <div ng-controller="FilterCtrl">
      <div id="filter-sidebar" ng-class="{'filter-sidebar-hidden': !ui.showFilterSidebar}">
        {% include "partials/components/summary_info.html" %}
        {% include "partials/components/filters.html" %}
      </div>
      <div ng-controller="MapConfigCtrl">
        <div ng-controller="MapCtrl">
          <div id="map" ng-class="{'filter-sidebar-hidden': !ui.showFilterSidebar}">
            <gm-map class="map" 
                    gm-map-id="mc.hutmapMapId" 
                    gm-center="m.center" 
                    gm-zoom="m.zoom" 
                    gm-bounds="m.bounds" 
                    gm-map-type-id="m.mapTypeId" 
                    gm-map-options="mc.mapOptions">
              <gm-markers gm-objects="h.huts" 
                          gm-get-lat-lng="{lat:object.location.coordinates[1], lng:object.location.coordinates[0]}" 
                          gm-get-marker-options="getMarkerOptions(object)"
                          gm-events="m.hutMarkerEvents"
                          gm-on-click="selectHut(marker, object)"
                          gm-on-mouseover="showMarkerTooltip(marker, object)"
                          gm-on-mouseout="hideMarkerTooltip(marker, object)">
              </gm-markers>
            </gm-map>
          </div>
          <div id="hut-bottombar" ng-controller="BottomBarCtrl" ng-class="{'filter-sidebar-hidden': !ui.showFilterSidebar}">
            {% include "partials/components/hut_info.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
</div>

