{% load staticfiles %}

<div id="content-fixed"><div id="content-page">

  <div class="widewords" style="border: 1px dotted gray; padding: 10px; background: #f3f3f3;">
    Hutmap is still in early stages of development. Although we have mapped 1,500 huts across North America, only a fraction of these huts are shown on the map. Remaining states and provinces will be phased in gradually as we validate our data. Visit our <a href="http://facebook.com/Hutmap">Facebook page</a> for the latest updates.
  </div>
  
  <h2>About us</h2>
  
  <p>
  Hutmap was built by two ragtag mountain climbers as a gift to the independent-minded outdoor community. Cabins, yurts, lean-tos, lookouts, and lodges! Platforms on stilts, camperized railroad cars, natural caves! If it provides covered shelter in the backcountry, it belongs on Hutmap.
  </p>

	<p>
  For the time being, Hutmap is focused on the USA and Canada. If you would like to help us expand into new territories - say by providing local knowledge or language translation - please <a href="mailto:info@hutmap.com">contact us</a>. Soon you will be able to edit <a href="/map">existing huts</a> or suggest new ones using our <a href="/hut/new">hut submission form</a> (<i>coming soon!</i>). We do our best to hone in on hut locations, drawing on everything from hearsay to satellite photos and GPS waypoints. Nevertheless, many locations are approximate (and labeled as such) and should not be relied upon for navigation.
  </p>
  
  <p>
	Write us at <a href="mailto:info@hutmap.com">info@hutmap.com</a>. We would love to hear from you.
  </p>

	<!-- Ethan -->
	<div class="profile">
    <img class="avatar" src="{% static "img/ethan.jpg" %}">
 		<div class="bio">
 			<span class="larger"><a href="mailto:ethan@hutmap.com"><b>Ethan Welty</b></a> / Hut Wrangler</span><br/>
  		<p>
      A late night at the computer mapping backcountry shelters in Ethan's home ranges of Washington and Colorado quickly turned into a much larger journey across the landscapes of North America - combing satellite images, topographic maps, and the web in a quest to satiate his ravenous appetite for huts. He currently lives in Boulder, Colorado where he geeks out on glaciers, <a href="http://www.weltyphotography.com/">photography</a>, and maps for his PhD at the <a href="http://instaar.colorado.edu/people/ethan-welty/">University of Colorado</a>.
      </p>
		</div>
	</div>
	
	<!-- Dylan -->
	<div class="profile">
    <img class="avatar" src="{% static "img/dylan.jpg" %}">
 		<div class="bio">
 			<span class="larger"><a href="mailto:dylan@hutmap.com"><b>Dylan Price</b></a> / Web Guru</span><br/>
  		<p>
       Dylan and Ethan met through the <a href="http://students.washington.edu/climb/">Climbing Club</a> at the University of Washington, where Dylan schooled in the art of web development. Once graduated, Dylan jumped on board to help share Ethan's hut database with the world. He currently lives out of his car as a climbing bum somewhere in the wilds of the western US, and generously reports back from coffee shops to work on the website.
      </p>
		</div>
	</div>
	
  <hr>

  <h2>Donations</h2>

  <p>
  Hutmap is our gift to the outdoor community. However, the site does cost us time and money to maintain, so we will be forever grateful if you choose to make a contribution.
  </p>
  
	<blockquote style="margin-bottom:2em;">
		<form action="https://www.paypal.com/cgi-bin/webscr" method="POST">
			<input type="hidden" name="cmd" value="_donations">
			<input type="hidden" name="business" value="info@hutmap.com">
			<input type="hidden" name="return" value="http://www.hutmap.com/about/">
			<input type="hidden" name="item_name" value="Donation to Hutmap">
			<input type="hidden" name="no_shipping" value="1">
			$<input name="amount" style="text-align:right;margin-left:0.15em;" placeholder="0.00" size="4">
			<input class="button" style="margin-left:0.25em;" type="submit" value="Donate via PayPal">
		</form>
	</blockquote>

  <h2>Closing remarks</h2>

  <p>
  Backcountry travel is a gift and a responsibility - please be safe, considerate of others, and cherish the natural environment. Where specified, hut locations are approximate and should not be relied upon for navigation. Images copied from hut agency websites are used without permission on hut profiles, besides links to the page of origin, on the assumption that this classifies as <a href="http://www.copyright.gov/title17/92chap1.html#107">Fair Use</a>. We are sensitive to the rights of photographers, so  <a href="mailto:info@hutmap.com">contact us</a> if you disagree.
	</p>

</div></div>
