<script type="text/ng-template" id="template/carousel/carousel.html">
  {% include "partials/components/carousel.html" %}
</script>
<script type="text/ng-template" id="template/carousel/slide.html">
  {% include "partials/components/slide.html" %}
</script>

<div ng-controller="CarouselCtrl">
  <carousel interval="carouselConfig.interval">
    <div class="carousel-loading muted">Loading image...</div>
    <slide ng-repeat="slide in slides" active="slide.active">
      <div class="hut-carousel-img" ng-style="imgStyle(slide.image.src)"></div>
      
      <div class="hut-carousel-caption">
        <table>
          <tr>
            <td class="caption-image" ng-hide="!slide.thumbnail.src">    
              <div style="position:relative;">
                <img ng-src="[*slide.thumbnail.src*]" />
                <span class="credit-thumbnail">[*slide.thumbnail.credit*]</span>
              </div>
            </td>
            <td class="caption-details">
              <h4>[*slide.title*]</h4><br />
              [*slide.location*]<br />
              <p>
                <span class="linkcolor">&lfloor;</span>&nbsp;<a ng-click="showOnMap(slide.hutId)">show on map</a><br/>
                <span class="linkcolor" ng-if="slide.agency.name">&lfloor;</span>&nbsp;<a ng-href="[*slide.agency.url*]">[*slide.agency.name*]</a>
              </p>
            </td>
          </tr>
        </table>
      </div>

      <span ng-if="!slide.image.url" class="credit-slide">
        [*slide.image.credit*]
      </span>
      <span ng-if="slide.image.url" class="credit-slide">
        <a href="[*slide.image.url*]">[*slide.image.credit*]</a>
      </span>

    </slide>
  </carousel>
</div>


